# Ignore secrets.py for security
secrets.py 

# Byte-compiled / optimized / DLL files
.__pycache__/
*.py[cod]
*$py.class

outputs/
tests/output/

# ingore periodic snapshots
animation_logs/
ui/tkinter/snapshots/
ui/tkinter/snapshots/periodic_snapshot.json
prompt_with_all_messages.md

# Environment variables
.env

# Virtual environments
venv/
.env/

# System files
.DS_Store
./.DS_Store
Thumbs.db
.idea/
*.swp

# Exclude specific directories in animation/frameworks/xlights/simulator/
animation/frameworks/xlights/simulator/*/
!animation/frameworks/xlights/simulator/shows/