# Ignore secrets.py for security
secrets.py 

# Byte-compiled / optimized / DLL files
.__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Environment variables
.env

# Virtual environments
venv/
.env/

# System files
.DS_Store
./.DS_Store
Thumbs.db
.idea/
*.swp
.vscode/
.vscode/launch.json

# lol specific
animation_output/
