requests
openai
tiktoken
anthropic
# google-generativeai
google-genai
#python>=3.9
instructor
# llamaapi ?
pydantic

# brew install protobuf
# pip install protobuf-to-pydantic
# protoc --protobuf-to-pydantic_out=. effects.proto
# export PATH="$PATH:/Users/sapir/miniconda3/envs/lol_agent/bin"
# ls /Users/sapir/miniconda3/envs/lol_agent/bin/protoc-gen-protobuf-to-pydantic